<ion-content no-padding *ngIf="movie != null">
  <div class="content" [ngStyle]="{'background-image': 'url(' + imgPath + movie.backdrop_path + ')'}">
    <ion-button color="primary" (click)="goBack()" class="backButton">Go Back</ion-button>
    <div class="divImg"><img [src]="getPoster()" class="img_Poster"></div>
    <h1 class="title">
      {{movie.title}}
    </h1>
    Genres:
    <span class="genres" *ngFor="let genre of this.movie.genres; let i = index">
      {{genre.name}}
    </span><br>
    <span class="overview">
      {{movie.overview}}
    </span><br>
  </div>
</ion-content>