ion-content {
  top: 60px;
  max-height: calc(100vh - 40px);

  .content {
    background-position: center;
    background-attachment: fixed;
    background-size: auto;
    font-family: "Raleway", sans-serif;
    // color: white;
    // background-color: transparent;
    z-index: 2;
    width: 100vw;
    height: calc(100vh - 40px);
    background: linear-gradient(
      to top,
      rgba(20, 20, 19) 0%,
      rgba(255, 255, 255, 0) 11%,
      rgba(255, 255, 255, 0) 89%,
      rgba(20, 20, 19) 100%
    );

    .title {
      font-family: "Raleway", sans-serif;
      margin-bottom: 10px;
      font-size: 40px;
      font-weight: bold;
    }

    .divImg {
      z-index: 3;
      background-color: transparent;
      float: right;
      margin: 2% 2% 2% 20%;
      .img_Poster {
        display: block;
        width: 90px;
        height: 120px;
        border-radius: 10px;
        display: inline-block;
        box-shadow: 0px 5px 20px;
        transition: 0.3s ease;
      }
    }
  }
}
