<ion-header>
  <ion-toolbar transparent>
    <ion-title color="secondary" text-left>Usage of TheMovieDB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding *ngIf="moviesArray != null">
    <ion-row card-background-page no-padding>
      <ion-col no-padding size="6" *ngFor="let movie of this.moviesArray;let i = index">
        <ion-card background-size text-left (click)="getDetails(movie)"
          [ngStyle]="{'background-image': 'url(' + imgPath + movie.backdrop_path + ')'}">
          <!-- Card Title-->
          <h1 text-wrap card-title class="cardTitle">
            {{movie.title}}
          </h1>
          <!-- Card Subtitle-->
          <div text-wrap card-subtitle class="cardSubtitle">
            <div>
              <img [src]="imgPath + movie.poster_path">
            </div>
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-badge color="success" item-end>{{movie.release_date}}</ion-badge>
                </ion-col>
                <ion-col size="4">
                  <ion-badge color="danger" item-end>{{movie.vote_average}}</ion-badge>
                </ion-col>
                <ion-col size="4">
                  <ion-badge color="primary" item-end>{{movie.popularity}}</ion-badge>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>